
.dnd-animo, .dnd-animo-children > * {
    visibility: hidden;
}
.dnd_container {
    width: 100%;
}
.dnd_container::before, .dnd_container::after {
    content: "";
    display: table;
    line-height: 0;
}
.dnd_container::after {
    clear: both;
}
.section_body_fullwidth .dnd_section_content .dnd_container {
    width: 100%;
}
.dnd_section_dd {
    overflow: hidden;
    position: relative;
}
.dnd_section_dd > * {
    position: relative;
    z-index: 1;
}
.dnd_section_dd header, .dnd_section_dd footer {
    text-align: center;
}
.dnd_section_dd header h3 {
    color: #333;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 13px;
    position: relative;
    text-transform: uppercase;
}
.dnd_section_dd header p {
    color: #676767;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 85px;
    text-transform: uppercase;
}
.dnd_section_dd.pattern_overlayed header h3, .dnd_section_dd.pattern_overlayed header h3::after, .dnd_section_dd.pattern_overlayed header p, .dnd_section_dd.color_overlayed header h3, .dnd_section_dd.color_overlayed header h3::after, .dnd_section_dd.color_overlayed header p {
    color: #fff;
}
.dnd_section_dd.pattern_overlayed a, .dnd_section_dd.color_overlayed a {
    color: #e42382;
}
.section_gray_body .dnd_section_content {
    background: #f4f4f4 none repeat scroll 0 0;
    padding: 55px 0;
}
.section_body_fullwidth .dnd_section_content .dnd_container {
    width: 100%;
}
.dnd_video_background {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 0;
}
.dnd_video_background .mejs-container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.dnd_video_background .mejs-overlay-loading {
    display: none !important;
}
.dnd-parallax {
    background-attachment: fixed;
    background-position: 50% top;
}
.dnd_container [class*="column_dd_span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 20px;
}
.section_no_column_margin .dnd_container [class*="column_dd_span"], .dnd_container [class*="column_dd_span"]:first-child {
    margin-left: 0;
}
.dnd_column_dd_span12 {
    width: 100%;
}
.dnd_column_dd_span11 {
    width: 91.453%;
}
.dnd_column_dd_span10 {
    width: 82.906%;
}
.dnd_column_dd_span9 {
    width: 74.359%;
}
.dnd_column_dd_span8 {
    width: 65.812%;
}
.dnd_column_dd_span7 {
    width: 57.265%;
}
.dnd_column_dd_span6 {
    width: 48.7179%;
}
.dnd_column_dd_span5 {
    width: 40.1709%;
}
.dnd_column_dd_span4 {
    width: 31.6239%;
}
.dnd_column_dd_span3 {
    width: 23.0769%;
}
.dnd_column_dd_span2 {
    width: 14.5299%;
}
.dnd_column_dd_span1 {
    width: 5.98291%;
}
.section_no_column_margin .dnd_column_dd_span12 {
    width: 100%;
}
.section_no_column_margin .dnd_column_dd_span11 {
    width: 91.6667%;
}
.section_no_column_margin .dnd_column_dd_span10 {
    width: 83.3333%;
}
.section_no_column_margin .dnd_column_dd_span9 {
    width: 75%;
}
.section_no_column_margin .dnd_column_dd_span8 {
    width: 66.6667%;
}
.section_no_column_margin .dnd_column_dd_span7 {
    width: 58.3333%;
}
.section_no_column_margin .dnd_column_dd_span6 {
    width: 50%;
}
.section_no_column_margin .dnd_column_dd_span5 {
    width: 41.6667%;
}
.section_no_column_margin .dnd_column_dd_span4 {
    width: 33.3333%;
}
.section_no_column_margin .dnd_column_dd_span3 {
    width: 25%;
}
.section_no_column_margin .dnd_column_dd_span2 {
    width: 16.6667%;
}
.section_no_column_margin .dnd_column_dd_span1 {
    width: 8.33333%;
}
.section_equalize_5 .dnd_column_dd_span3, .section_equalize_5 .dnd_column_dd_span2 {
    width: 17.9508%;
}
.section_equalize_5 .dnd_container [class*="column_dd_span"] {
    margin-left: 2.5641%;
}
.section_no_column_margin.section_equalize_5 .dnd_container [class*="column_dd_span"], .section_equalize_5 .dnd_container [class*="column_dd_span"]:first-child {
    margin-left: 0;
}
.section_no_column_margin.section_equalize_5 .dnd_column_dd_span3, .section_no_column_margin.section_equalize_5 .dnd_column_dd_span2 {
    width: 20%;
}
.dnd-abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after {
    content: "";
    display: table;
}
.ui-helper-clearfix::after {
    clear: both;
}
.ui-helper-zfix {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dnd-tabs {
    clear: both;
    margin-bottom: 40px;
    position: relative;
}
.dnd-tabs .ui-tabs-nav {
    margin: 0;
}
.dnd-tabs .ui-tabs-nav li {
    background: #f3f3f3 none repeat scroll 0 0;
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 14px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.dnd-tabs .ui-tabs-nav li a {
    box-sizing: border-box;
    clear: both;
    color: #505050;
    cursor: pointer;
    display: block;
    height: 100%;
    outline: medium none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.dnd-tabs .ui-tabs-nav li:hover a {
    color: #333;
}
.dnd-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #fff none repeat scroll 0 0;
    position: relative;
}
.dnd-tabs .ui-tabs-nav li.ui-tabs-active::after {
    background: #fff none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.dnd-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #505050;
    cursor: default;
}
.dnd-tabs .ui-tabs-nav li:last-child {
    border-right: 1px solid #e1e1e1;
}
.dnd-tabs .dnd-tabs-wrapper {
    border: 1px solid #e1e1e1;
}
.dnd-tabs .ui-tabs-panel {
    border-width: 0;
    display: block;
    padding: 20px 15px;
}
.ui-tabs-hide {
    display: none;
}
.dnd-tabs-position-bottom .ui-tabs-nav {
    border-bottom: medium none;
    bottom: -45px;
    position: absolute;
}
.dnd-tabs-position-bottom .ui-tabs-nav li {
    border-bottom: 1px solid #e1e1e1;
    border-top: medium none;
}
.dnd-tabs-position-bottom .ui-tabs-panel {
    padding: 20px 15px;
}
.dnd-tabs-position-bottom .ui-tabs-nav li.ui-tabs-active::after {
    bottom: auto;
    top: -1px;
}
.dnd-tabs-vertical .ui-tabs-nav li a {
    padding: 15px;
    text-align: right;
}
.dnd-tabs-position-left .dnd-tabs-wrapper {
    margin-left: 200px;
}
.dnd-tabs-position-left .ui-tabs-nav {
    float: left;
    margin-bottom: 40px;
    width: 200px;
}
.dnd-tabs-position-left .ui-tabs-nav li {
    border-right: medium none;
    float: none;
    line-height: 14px;
}
.dnd-tabs-position-left .ui-tabs-nav li:last-child {
    border-bottom: 1px solid #e1e1e1;
    border-right: medium none;
}
.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active {
    background: #fff none repeat scroll 0 0;
}
.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active::after {
    background: #fff none repeat scroll 0 0;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    left: auto;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
}
.dnd-tabs-position-right .dnd-tabs-wrapper {
    margin-right: 200px;
}
.dnd-tabs-position-right .ui-tabs-nav {
    float: right;
    margin-bottom: 40px;
    width: 200px;
}
.dnd-tabs-position-right .ui-tabs-nav li {
    border-left: medium none;
    border-right: 1px solid #e1e1e1;
    float: none;
    line-height: 14px;
}
.dnd-tabs-position-right .ui-tabs-nav li a {
    text-align: left;
}
.dnd-tabs-position-right .ui-tabs-nav li:last-child {
    border-bottom: 1px solid #e1e1e1;
    border-left: medium none;
}
.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active {
    background: #fff none repeat scroll 0 0;
}
.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active::after {
    background: #fff none repeat scroll 0 0;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    right: auto;
    top: 0;
    width: 1px;
}
.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6ebed #e6ebed -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 15px;
    text-align: left;
    width: 100%;
}
.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active {
    background: #f9f9f9 none repeat scroll 0 0;
}
.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active::after {
    display: none;
}
.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav {
    position: relative;
}
.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active::after {
    display: none;
}
.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-panel {
    padding: 0;
}
.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav, .dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav {
    border-bottom: medium none;
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li, .dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li {
    float: none;
    line-height: 37px;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 15px;
    text-align: left;
}
.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active, .dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active {
    background: #f9f9f9 none repeat scroll 0 0;
}
.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active::after, .dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active::after {
    display: none;
}
.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-panel, .dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-panel {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
}
.dnd-accordion {
    margin-bottom: 40px;
}
.dnd-accordion .ui-accordion-header {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 15px 0 15px 20px;
    position: relative;
}
.dnd-accordion .ui-accordion-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #eeeeee #eeeeee;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    overflow: auto;
    padding: 20px;
}
.dnd-accordion .ui-accordion-header-icon {
    display: block;
    font-family: "WebHostingHub-Glyphs";
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 30px;
}
.dnd-accordion .ui-icon-triangle-1-e {
    color: #666;
}
.dnd-accordion .ui-icon-triangle-1-e::before {
    content: "+";
}
.dnd-accordion .ui-icon-triangle-1-s {
    color: #666;
}
.dnd-accordion .ui-icon-triangle-1-s::before {
    content: "−";
}
.dnd-toggle {
    margin-bottom: 20px;
}
.dnd-table-hover table, .dnd-table-striped table {
    border-collapse: separate;
    line-height: 2 !important;
}
.dnd-table-condensed table {
    border-collapse: separate;
    line-height: 1 !important;
}
.dnd-table-hover table tr, .dnd-table-striped table tr, .dnd-table-condensed table tr {
    border-top: 1px solid #eee !important;
}
.dnd-table-hover table th, .dnd-table-striped table th, .dnd-table-condensed table th, .dnd-table-hover table td, .dnd-table-striped table td, .dnd-table-condensed table td {
    padding: 2px 10px;
}
.dnd-table-striped table tr:nth-child(2n+1) {
    background: #f9f9f9 none repeat scroll 0 0;
}
.dnd-table-hover table tr:hover {
    background: #efefef none repeat scroll 0 0;
}
.dnd_alert_success, .dnd_alert_info, .dnd_alert_warning, .dnd_alert_error {
    margin-bottom: 40px;
    padding: 19px 48px 19px 19px;
    position: relative;
}
.dnd_alert_success i, .dnd_alert_info i, .dnd_alert_warning i, .dnd_alert_error i {
    margin-right: 19px;
}
.dnd_alert_success, .dnd_alert_success .dnd_alert_box_close {
    background: #e9f3d2 none repeat scroll 0 0;
    color: #91b64f;
}
.dnd_alert_info, .dnd_alert_info .dnd_alert_box_close {
    background: #cee6e6 none repeat scroll 0 0;
    color: #1e6d81;
}
.dnd_alert_warning, .dnd_alert_warning .dnd_alert_box_close {
    background: #fbf2e3 none repeat scroll 0 0;
    color: #ffad77;
}
.dnd_alert_error, .dnd_alert_error .dnd_alert_box_close {
    background: #ffe9e9 none repeat scroll 0 0;
    color: #d04544;
}
.dnd_alert_box_close {
    cursor: pointer;
    position: absolute;
    right: 19px;
    top: 19px;
}
.dnd_blockquote, .dnd_pullquote {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 40px;
}
.dnd_blockquote p {
}
.dnd_blockquote p small {
    color: #e42382;
    display: block;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin-top: 29px;
}
.dnd_shortcode_ul {
    list-style: outside none none !important;
}
.dnd_shortcode_ul li {
    list-style: outside none none !important;
}
.dnd_follow_us {
    text-align: center;
}
.dnd_socialicon {
    border: 1px solid #333;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 4px 20px;
    opacity: 0.5;
    width: 40px;
}
.dnd_socialicon i {
    color: #333;
    top: 0;
}
.dnd_socialicon:hover {
    box-shadow: 0 0 0 1px #333;
    opacity: 1;
}
.pattern_overlayed .dnd_socialicon, .color_overlayed .dnd_socialicon {
    border: 1px solid #fff;
}
.pattern_overlayed .dnd_socialicon i, .color_overlayed .dnd_socialicon i {
    color: #fff;
}
.pattern_overlayed .dnd_socialicon:hover, .color_overlayed .dnd_socialicon:hover {
    box-shadow: 0 0 0 1px #fff;
}
.dnd_stats_excerpt {
    color: #093d71;
}
.dnd_stats_excerpt i {
    color: #097d89;
    font-size: 32px;
    margin-right: 13px;
}
.dnd_stats_excerpt .dnd_stats_number, .dnd_stats_excerpt .dnd_stats_number_sign {
    font-size: 32px;
    font-weight: 700;
}
.dnd_stats_excerpt p {
    font-size: 18px;
    padding-top: 11px;
}
.dnd_knob_wrapper {
    text-align: center;
}
.dnd_knob_inner_wrap {
    position: relative;
    text-align: center;
}
.dnd_knob_wrapper input {
    display: none;
}
.dnd_knob_wrapper .dnd_knob_number_sign {
    font-size: 24px;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 2;
}
.dnd_team_member {
    margin-bottom: 49px;
    padding-bottom: 19px;
    text-align: center;
}
.dnd_team_member .dnd_overlayed {
    line-height: 1;
    margin-bottom: 28px;
    position: relative;
}
.dnd_team_member.dnd_team_member_style_2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.dnd_team_member.dnd_team_member_style_2 .dnd_overlayed {
    margin-bottom: 20px;
}
.dnd_team_member .dnd_overlayed .dnd_overlay {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}
.dnd_team_member:hover .dnd_overlayed .dnd_overlay {
    opacity: 1;
}
.dnd_team_member .dnd_overlayed .dnd_overlay p {
    height: 40px;
    line-height: 40px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.dnd_team_member .dnd_overlayed .dnd_overlay p a {
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 3px;
    width: 40px;
}
.dnd_team_member .dnd_overlayed .dnd_overlay p a i {
    color: #ccc;
}
.dnd_team_member .dnd_overlayed .dnd_overlay p a:hover {
    border: 1px solid #fff;
    color: #fff;
}
.dnd_team_member .dnd_overlayed .dnd_overlay p a:hover i {
    color: #fff;
}
.dnd_team_member .dnd_team_member_position {
    text-transform: uppercase;
}
.dnd_team_member .dnd_team_member_name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.dnd_team_member.dnd_team_member_style_2 .dnd_team_member_name {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}
.dnd_team_member .dnd_team_member_position {
    color: #e42382;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
}
.dnd_team_member.dnd_team_member_style_2 .dnd_team_member_position {
    font-size: 14px;
}
.dnd_team_member > p {
    color: #8d8c8c;
    margin-bottom: 19px;
}
.dnd_team_member .dnd_team_member_social_under a {
    margin: 0 5px;
}
.dnd_team_member .dnd_team_member_social_under a i {
    color: #676767;
}
.dnd_team_member .dnd_team_member_social_under a:hover i {
    color: #e42382;
}
.dnd_team_member_modal {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding-top: 80px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.dnd_team_member_modal h4, .dnd_team_member_modal .dnd_team_member_position {
    text-align: center;
}
.dnd_team_member_modal .dnd_container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.dnd_team_member_modal_close {
    cursor: pointer;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 60px;
    top: 60px;
    width: 32px;
}
.dnd_team_member.dnd_team_member_style_2 .dnd_overlayed .dnd_overlay .dnd_overlay_memeber {
    bottom: 20px;
    margin-bottom: -3px;
    padding-left: 19px;
    position: absolute;
    text-align: left;
    width: 100%;
}
.dnd_pricing-table-1, .dnd_pricing-table-2 {
    margin-bottom: 40px;
    text-align: center;
}
.dnd_pricing-table-1 {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    color: #333;
    text-align: center;
}
.dnd_pricing-table-1 .dnd_pricebox_header {
    border-bottom: 1px solid #c8c8c8;
}
.dnd_pricing-table-1 .dnd_pricebox_featured_text {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 3px;
    min-height: 30px;
    text-align: center;
}
.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_featured_text {
    background: #434342 none repeat scroll 0 0;
}
.dnd_pricing-table-1 .dnd_pricebox_name {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding: 21px 10px;
    text-transform: uppercase;
}
.dnd_pricing-table-1.dnd_popular-plan {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    padding-bottom: 10px;
    position: relative;
    top: -20px;
    z-index: 1;
}
.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_name {
    background: #e42382 none repeat scroll 0 0;
    padding: 31px 10px;
}
.dnd_pricing-table-1 .dnd_pricebox_currency {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: -20px;
}
.dnd_pricing-table-1 .dnd_pricebox_price {
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin: 19px 0;
}
.dnd_pricing-table-1 .dnd_pricebox_monthly {
    font-size: 16px;
    line-height: 16px;
}
.dnd_pricing-table-1 .dnd_pricebox_decsription {
    display: block;
    font-style: italic;
}
.dnd_pricing-table-1 .dnd_pricebox_feature {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
    text-align: center;
}
.dnd_pricing-table-1 .dnd_pricebox_feature strong {
    font-weight: 300;
}
.dnd_pricing-table-1 .dnd_pricebox_feature:first-of-type {
    padding-top: 38px;
}
.dnd_pricing-table-1 .dnd_pricebox_feature:last-child {
    border-top: 1px solid #c8c8c8;
    margin-top: 48px;
    padding-top: 16px;
}
.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_feature_button {
    margin-bottom: 0;
}
.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_feature:last-child {
    padding-top: 25px;
}
.dnd_pricing-table-2 .dnd_pricebox_header {
    background: #fff none repeat scroll 0 0;
    color: #333;
    text-align: center;
}
.dnd_pricing-table-2 .dnd_pricebox_name {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 21px 10px;
    text-transform: uppercase;
}
.dnd_pricing-table-2.dnd_popular-plan .dnd_pricebox_name {
    background: #e42382 none repeat scroll 0 0;
    color: #fff;
    padding: 25px 10px;
}
.dnd_pricing-table-2 .dnd_pricebox_currency {
    font-size: 15px;
    position: relative;
    top: -33px;
}
.dnd_pricing-table-2 .dnd_pricebox_price {
    display: inline-block;
    font-size: 65px;
    font-style: italic;
    font-weight: 300;
    line-height: 65px;
    padding-bottom: 26px;
    padding-top: 21px;
}
.dnd_pricing-table-2 .dnd_pricebox_monthly {
    font-size: 12px;
}
.dnd_pricing-table-2 .dnd_pricebox_decsription {
    display: block;
    font-style: italic;
    padding-bottom: 30px;
}
.dnd_pricing-table-2 .dnd_pricebox_feature {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #c8c8c8;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.dnd_pricing-table-2 .dnd_pricebox_feature:last-of-type {
    border-bottom: 4px solid #333;
}
.dnd_pricing-table-2.dnd_popular-plan .dnd_pricebox_feature:last-of-type {
    border-bottom: 4px solid #e42382;
}
.dnd_pricing-table-2 .dnd_button {
    margin-right: 0;
    margin-top: 40px;
}
.dnd_pricebox_feature .ABdev_icon-ok {
    color: #01f001;
}
.dnd_pricebox_feature .ABdev_icon-remove {
    color: red;
}
.dnd_meter {
    background: #d9d9d9 none repeat scroll 0 0;
    font-size: 16px;
    height: 45px;
    margin-bottom: 20px;
    margin-left: 200px;
}
.dnd_meter .dnd_meter_percentage {
    background: #1e6d81 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-indent: 20px;
}
.dnd_meter_label {
    float: left;
    font-size: 16px;
    line-height: 45px;
}
.dnd_service_box {
    margin-bottom: 55px;
    padding-top: 0;
    text-align: center;
}
.dnd_service_box .dnd_icon_boxed {
    background: #e42382 none repeat scroll 0 0;
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    margin-bottom: 24px;
    position: relative;
    text-decoration: none;
    width: 100px;
}
.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    transition: all 180ms ease-in 0s;
}
.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed i {
    color: #333;
    transition: all 180ms ease-in 0s;
}
.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed {
    background: #e42382 none repeat scroll 0 0;
    border: 1px solid #e42382;
    box-shadow: 0 0 0 5px #fff inset;
    transition: all 180ms ease-in 0s;
}
.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed i {
    color: #fff;
    transition: all 180ms ease-in 0s;
}
.dnd_service_box .dnd_icon_boxed i {
    color: #fff;
    font-size: 48px;
    line-height: 100px;
    position: relative;
    top: -1px;
}
.dnd_service_box:hover .dnd_icon_boxed {
    background: #333 none repeat scroll 0 0;
}
.dnd_service_box .dnd_icon_boxed:hover::after {
    border-top: 9px solid #333;
    transition: all 180ms ease-in 0s;
}
.dnd_service_box p {
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 22px;
}
.dnd_service_box h3 {
    color: #676767;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 19px;
}
.dnd_service_box.dnd_service_box_round_aside {
    text-align: left;
}
.dnd_service_box.dnd_service_box_round_aside h3 {
    color: #333;
    margin-bottom: 8px;
}
.dnd_service_box.dnd_service_box_round_aside h3:hover {
    color: #e42382;
}
.dnd_service_box.dnd_service_box_round_aside p {
    line-height: 20px;
}
.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed {
    float: left;
    height: 60px;
    margin-right: 20px;
    text-align: center;
    width: 60px;
}
.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed i {
    font-size: 25px;
    line-height: 60px;
    top: 2px;
}
.dnd_service_box.dnd_service_box_aside_small {
    text-align: left;
}
.dnd_service_box.dnd_service_box_aside_small h3 {
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
.dnd_service_box.dnd_service_box_aside_small h3:hover {
    color: #e42382;
}
.dnd_service_box.dnd_service_box_aside_small p {
    line-height: 20px;
}
.dnd_service_box.dnd_service_box_aside_small .dnd_icon_boxed {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: center;
    width: auto;
}
.dnd_service_box.dnd_service_box_aside_small .dnd_icon_boxed i {
    color: #e42382;
    font-size: 26px;
    line-height: 26px;
}
.dnd_service_box_square .dnd_icon_boxed {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    height: auto;
    margin-bottom: 13px;
    width: auto;
}
.dnd_service_box_square:hover .dnd_icon_boxed {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.dnd_service_box_square .dnd_icon_boxed i {
    color: #333;
    line-height: 48px;
}
.dnd_service_box_square:hover .dnd_icon_boxed i {
    color: #e42382;
}
.dnd_divider {
    border-top: 1px solid #eeeeee;
    clear: both;
    line-height: 20px;
    margin: 10px;
    text-align: right;
}
.dnd_divider a {
    display: inline-block;
    text-decoration: none;
}
.dnd_divider a:hover {
    text-decoration: none;
}
.dnd_divider i {
    position: relative;
    top: 2px;
}
.dnd_divider_dashed {
    border-top: 1px dashed #eeeeee;
}
.dnd_divider_dotted {
    border-top: 1px dotted #eeeeee;
}
.dnd_pullquote {
    float: left;
    font-size: 1.6em;
    padding: 20px 20px 20px 0;
}
.dnd_pullquote_right {
    float: right;
    font-size: 1.6em;
    padding: 20px 0 20px 20px;
}
.dnd_tooltip {
    cursor: pointer;
}
.tipsy {
    font-size: 10px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    z-index: 100000;
}
.tipsy-inner {
    background-color: #fff;
    color: #333;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
}
.tipsy-inner {
    border-radius: 0;
}
.tipsy-arrow {
    border: 5px dashed #fff;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
.tipsy-arrow-n {
    border-bottom-color: #fff;
}
.tipsy-arrow-s {
    border-top-color: #fff;
}
.tipsy-arrow-e {
    border-left-color: #fff;
}
.tipsy-arrow-w {
    border-right-color: #fff;
}
.tipsy-n .tipsy-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.tipsy-nw .tipsy-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    left: 10px;
    top: 0;
}
.tipsy-ne .tipsy-arrow {
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: medium none;
    right: 10px;
    top: 0;
}
.tipsy-s .tipsy-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tipsy-sw .tipsy-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 10px;
}
.tipsy-se .tipsy-arrow {
    border-bottom: medium none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    right: 10px;
}
.tipsy-e .tipsy-arrow {
    border-bottom-color: transparent;
    border-left-style: solid;
    border-right: medium none;
    border-top-color: transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tipsy-w .tipsy-arrow {
    border-bottom-color: transparent;
    border-left: medium none;
    border-right-style: solid;
    border-top-color: transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.dnd_prettyprint {
    padding: 24px !important;
}
.dnd_prettyprint ol {
    list-style: outside none decimal !important;
    margin: 0 !important;
    padding: 0 !important;
}
.dnd_prettyprint li {
    list-style: outside none decimal !important;
    margin-left: 20px !important;
}
.dnd_rss, .dnd_rss li {
    list-style: outside none none !important;
    margin-left: 0 !important;
}
.dnd_children, .dnd_children li {
    list-style: outside none none !important;
    margin-left: 0 !important;
}
.dnd_sitemap, .dnd_sitemap li {
    list-style: outside none none !important;
}
.dnd_google_map img {
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    max-width: none !important;
}
.dnd_dropcap {
    background: #1e6d81 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 50px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
    width: 54px;
}
.dnd-videoWrapper-youtube {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 0;
    position: relative;
}
.dnd-videoWrapper-youtube iframe, .dnd-videoWrapper-youtube object, .dnd-videoWrapper-youtube embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dnd-videoWrapper-vimeo {
    height: 0;
    overflow: hidden;
    padding-bottom: 53%;
    padding-top: 30px;
    position: relative;
}
.dnd-videoWrapper-vimeo iframe, .dnd-videoWrapper-vimeo object, .dnd-videoWrapper-vimeo embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dnd_clear {
    clear: both;
}
.dnd-callout_box {
    background: #f3f3f3 none repeat scroll 0 0;
    margin-bottom: 20px;
    padding: 20px;
}
.dnd-callout_box_title {
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.dnd-callout_box p {
    margin-bottom: 0;
}
.dnd-callout_box .dnd_column_dd_span3 {
    padding-top: 30px;
    text-align: center;
}
.dnd-button {
    border-radius: 3px;
    display: inline-block;
    font-family: "Monotype-Corsiva-Regular",sans-serif !important;
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #666;
    white-space: nowrap;
}
.dnd-button i {
    margin-left: 10px;
    position: relative;
    top: 1px;
}
.dnd-button_light {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333 !important;
}
.dnd-button_dark {
    background: #505050 none repeat scroll 0 0;
    border: 1px solid #505050;
    color: #fff !important;
}
.dnd-button_yellow {
    background: #ffd800 none repeat scroll 0 0;
    border: 1px solid #ffd800;
    color: #fff !important;
}
.dnd-button_green {
    background: #e42382 none repeat scroll 0 0;
    border: 1px solid #e42382;
    color: #fff !important;
}
.dnd-button_red {
    background: #e74c3c none repeat scroll 0 0;
    border: 1px solid #e74c3c;
    color: #fff !important;
}
.dnd-button_blue {
    background: #3498db none repeat scroll 0 0;
    border: 1px solid #3498db;
    color: #fff !important;
}
.dnd-button_gray {
    background: #f2f4f5 none repeat scroll 0 0;
    border: 1px solid #f2f4f5;
    color: #505050 !important;
}
.dnd-button_cyan {
    background: #25bfba none repeat scroll 0 0;
    border: 1px solid #25bfba;
    color: #fff !important;
}
.dnd-button_aquamarine {
    background: #25bf80 none repeat scroll 0 0;
    border: 1px solid #25bf80;
    color: #fff !important;
}
.dnd-button:hover {
    background: #6a4e40 none repeat scroll 0 0;
    border: 1px solid #505050;
    color: #fff !important;
}
.dnd-button_dark:hover {
    background: #e42382 none repeat scroll 0 0;
    border: 1px solid #e42382;
    color: #fff !important;
}
.dnd-button_light:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e42382;
    color: #e42382 !important;
}
.dnd-button_small {
    padding: 10px 24px;
}
.dnd-button_medium {
    padding: 14px 34px;
}
.dnd-button_large {
    padding: 17px 40px;
}
.dnd-button_xlarge {
    padding: 23px 40px;
}
.dnd-button_rounded.dnd-button_small {
    border-radius: 40px;
}
.dnd-button_rounded.dnd-button_medium {
    border-radius: 48px;
}
.dnd-button_rounded.dnd-button_large {
    border-radius: 54px;
}
.dnd-button_rounded.dnd-button_xlarge {
    border-radius: 66px;
}
